.subtitle-container {
    position: absolute;
    bottom: 0.25rem;
    left: 1rem;
    ion-card-subtitle:not(.stable) {
        text-transform: initial;
        color: black;
    }
}

.vote-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

ion-card {
    height: 14rem;
}

ion-card.entry {
    height: 13rem;
}

ion-card.voted {
    border: 1px solid #99D66A;
}

ion-card-header {
    position: absolute;
    top: 0;
    padding-top: 1rem;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 10rem;
    img {
        position: absolute;
    }
}

ion-card-subtitle {
    color: #adadad;
}

ion-card-title {
    color: white;
}