
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    .padding-container {
        width: 100%;
        padding: 1rem 0;
        .row {
            display: flex;
            .hide {
                display: none;
            }
        }
    }
}
